<h1>The Mood</h1>

{{#overview}}
  <h2>{{title}}</h2>
  <a href="/singlepost/{{id}}"><img src="/uploads/{{image}}" alt="" /></a>

  <form action="/comment/{{id}}" method="POST">
    <input type="text" name="text" />
    <input type="submit" value="kommentieren" />
  </form>
  <ul>
    {{#comments}}
      <p>{{date}}</p>
      <p>{{text}}</p>
    {{/comments}}
  </ul>
{{/overview}}

<form action="/newpost" method="get">
  <input type="submit" value="Neuen Post erstellen" />
</form>